<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> About Ricky </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/home">Home</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="/photos">Gallery</a></li>
      </ul>

    </header>

<h1> Ricardo Fort: the Man, the Myth, the Legend </h1>
<h2> R.I.P: November 25th, 2013 </h2>

<img src="/images/bastachicos.gif" class="basta-chicos">

<p> The Felfort confectionery company was founded in 1912 in Buenos Aires
   by Fort's grandfather, Felipe Fort, and soon became one of the top
    confectionery companies in Argentina.[2] Ricardo's father, Carlos
    Augusto Fort, took control of the company after Felipe's death in 1969.
    Ricardo Fort developed a close relationship with his mother, the opera
    singer Marta Campa.
    Fort developed businesses in the textile industry and in modeling,
    as well as owned the Fortmen clothing line. However, he is most well known
    as an Argentinian pop-culture figure, having created his own reality show
    and made numerous appearances on famed TV shows such as
    "Showmatch, El musical de tus sueños"	and	"Showmatch, Bailando por un sueño"
    He lived around the corner from Emma's grandma and was known for driving
    the only Rolls Royce in Argentina. He loved and frequented the Miami area
    and there are many videos of him dancing the night away.

<img src="/images/ratings.gif" alt="">

<h2> Famous Catchphrases </h2>
<p><ul>
  <li> "Maiameee!" </li>
  <li> "Mama! Apagaste toda la loz, carajo!!" </li>
  <li> "Basta Chicos!" </li>
</ul></p>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
