<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Ricardo Fort!!!! </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/home">Home</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="/photos">Gallery</a></li>
      </ul>

    </header>

    <h1>** RICKY FORT **</h1>
    <h2> Bienvendios a MAIAMEEE!!! </h2>

    <div class="pics">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/18/f3/94/18f39440e38db675d67e2314003d9b82.gif" class="home-gif">
  </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
