<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Little Pony</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home of the Bronies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/photo-gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="jumbotron">
        <h1 class="display-3">About</h1>
        <p class="lead">Bronies usually show a want to be accepted as normal people, but don't appear to realise that to be treated the same as anyone else, they need to stop making sure everyone knows and remembers that they are a brony at all times, without fail. They also don't appear to understand that most people don't appreciate the internet being taken over by their fandom, which is another main cause for the hate of bronies.</p>
        <hr class="my-4">
        <p><i>Person: Oh hey, you seem pretty okay, want to talk?<br />
Brony: Oh, hi! By the way, I'm a brony.<br />
Person: Uh, thats... cool?<br />
Brony: yeah, I watch FiM every day. Hey, who's your favorite pony?<br />
Person: Uh... I don't watch it.<br />
<br />
Brony: Oh, I should show you! Let me show you it, you'll love it forever!<br />
Person: No really, I'm fine... can we talk about something else?<br />
Brony: Ooh, look, something that looks vaguely pony shaped! It looks just like -pony name-! <br />
Person: Okay... I'm done. *Walks away*</i></p>
      </div>
    </main>

  </body>
</html>
