<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/gallery"> Gallery </a></li>
    </ul>

    <h1> About </h1>
    <p>
      WE LOVE PUPPIES! PUPPIES ARE AMAZING! WE LOVE PUPPIES! PUPPIES ARE AMAZING!
      WE LOVE PUPPIES! PUPPIES ARE AMAZING! WE LOVE PUPPIES! PUPPIES ARE AMAZING!
      WE LOVE PUPPIES! PUPPIES ARE AMAZING! WE LOVE PUPPIES! PUPPIES ARE AMAZING!
      WE LOVE PUPPIES! PUPPIES ARE AMAZING! WE LOVE PUPPIES! PUPPIES ARE AMAZING!
      WE LOVE PUPPIES! PUPPIES ARE AMAZING! WE LOVE PUPPIES! PUPPIES ARE AMAZING!
    </p>




    <script src="/js/frontend.js"></script>
  </body>
</html>
