<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jaromir Jagr Gallery</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <a href="/">Back</a>

  <h1>About Him</h1>
  <img src="/images/about-img.jpg" alt="">
  <p>Jaromír Jágr (Czech pronunciation: [ˈjaromiːr ˈjaːɡr̩] (About this sound listen); born 15 February 1972) is a Czech professional ice hockey right winger who is currently a free agent. He has formerly played in the NHL with the Pittsburgh Penguins, Washington
    Capitals, New York Rangers, Philadelphia Flyers, Dallas Stars, Boston Bruins, New Jersey Devils and Florida Panthers, serving as captain of the Penguins and the Rangers. After leaving the Rangers, he played for three seasons in the Kontinental Hockey
    League (KHL) with Avangard Omsk before returning to the NHL with the Flyers. Jágr is the leading point scorer among active NHL players and has the second most points in NHL history.[1] </p>
  <script src="/js/fun.js"></script>
</body>

</html>
