<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
  </head>

  <body>
    <h1> Why Are Desserts Great </h1>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/about"> About </a></li>
      <li><a href="/photos"> Photo Gallery </a></li>
    </ul>
    <p> Because they are cool and refreshing! Have some today!
     There are many desserts from pies, cakes, pops, and la mode</p>

  <script src="/js/frontend.js"></script>

  </body>
</html>
