<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1> Best Desserts !!! Yum Yum </h1>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/about"> About </a></li>
      <li><a href="/photos"> Photo Gallery </a></li>
    </ul>
  <script src="/js/frontend.js"></script>
  </body>
</html>
