<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jaromir Jagr</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href="/">Back</a>
  <h1>Jaromir Jagr</h1>
  <img src="/images/home-img.jpg" alt="">

  <a href="about">About</a>
  <a href="images">Image Gallery</a>

<script src="/js/fun.js"></script>
</body>
</html>
