<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Jaromir Jagr</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href="/">Back</a>

<h1>Jaromir Jagr Gallery</h1>
  <img src="/images/early.jpg" alt=""><h3>1990 Pittsburg Penguins</h3>
  <img src="/images/1998.jpg" alt=""><h3>1998 Czech Republic</h3>
  <img src="/images/2005.jpg" alt=""><h3>2005 Czech Republic</h3>
  <img src="/images/2008.jpg" alt=""><h3>2008 New York Rangers</h3>
  <img src="/images/2016.jpg" alt=""><h3>2016 Florida Panthers</h3>

<script src="/js/fun.js"></script>
</body>
</html>
