<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1> Photo Gallery </h1>
    <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/about"> About </a></li>
      <li><a href="/photos"> Photo Gallery </a></li>
    </ul>
    <br>
    <br>
    <br>
    <img src="/images/dessert1.jpg" class="img1">
    <img src="/images/dessert2.jpg" class="img2">
    <img src="/images/pie.jpg" class="img3">

    <script src="/js/frontend.js"></script>
  </body>

</html>
