<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/about"> About </a></li>
      </ul>
    </header>


    <img src="https://media.giphy.com/media/l0HlScP4Pl31ADK8M/giphy.gif" />
    <img src="https://media.giphy.com/media/HwLNiMTiqCN9u/giphy.gif" />
    <img src="https://media.giphy.com/media/XugjYxgqhuotW/giphy.gif" />
    <img src="https://media.giphy.com/media/7Jkv02RLFYj6M/giphy.gif" />
    <img src="https://media.giphy.com/media/32tUO8IXo8rfi/giphy.gif" />
    <img src="https://media.giphy.com/media/C7Gj216EwEi4/giphy.gif" />
    <img src="https://media.giphy.com/media/3q0SGlOqTRVHG/giphy.gif" />
    <img src="https://media.giphy.com/media/JazIWzRasLEn6/giphy.gif" />
    <img src="https://media.giphy.com/media/izRWwhZtAKXO8/giphy.gif" />
    <img src="https://media.giphy.com/media/QPGgugx9Eyp0c/giphy.gif" />
    <img src="https://media.giphy.com/media/kAGC2hydAKfLO/giphy.gif" />
    <img src="https://media.giphy.com/media/gcXcSRYZ9cGWY/giphy.gif" />
    <img src=" https://media.giphy.com/media/zPGJzH8fXsoBW/giphy.gif " />
    <img src=" https://media.giphy.com/media/fvzzTw4GevP2g/giphy.gif " />
    <img src=" https://media.giphy.com/media/26xBHgdvD0dN1ZXby/giphy.gif " />
    <img src=" https://media.giphy.com/media/l3vR9atRgHREvu1lC/giphy.gif " />
    <img src=" https://media.giphy.com/media/21ROqBipLAloI/giphy.gif " />
    <img src=" https://media.giphy.com/media/Wj2VpMApaSeNq/giphy.gif " />
    <img src=" https://media.giphy.com/media/M7vffPHtFXqSI/giphy.gif " />
    <img src=" https://media.giphy.com/media/3JseofDyiDfws/giphy.gif " />
    <img src=" https://media.giphy.com/media/ccZ0SQNoOfWhi/giphy.gif " />
    <img src=" https://media.giphy.com/media/YIgxlVjML5WFy/giphy.gif " />
    <img src=" https://media.giphy.com/media/GdFjI5gsNvpTO/giphy.gif" />
    <img src=" https://media.giphy.com/media/IQaIwsvKCxCkU/giphy.gif " />

    <script src="/js/frontend.js"></script>
  </body>
</html>
