body{
  background-image: url('/images/bg.png');
  color: white;
  text-align: center;
}
h1,
h2,
a{
  font-weight: bold;
  margin: 0;
}
img{
  display: inline-block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
h1{
  font-size: 65px;
}
a{
  display: block;
  background-color: skyblue;
  border-radius: 20%;
  padding: 30px;
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

#overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
