<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us | Food Love</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>
  <h1>This is a place for food lovers. Period</h1>
  <h2>Food gifs are displayed to show all the best ways to satisfy your hungry desires</h2>
  <p>WARNING: We are not responsible for HANGRY behaviors after view our gallery.</p>
  <a href="/">Home</a>
  <a href="/photos">Photo Gallery</a>
  </body>
</html>
