<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="about">
  <h1> Asiya Korepanova </h1>
  <a href="/"> Home </a>
  <a href="gallery"> Photo Gallery </a>

  <div class="aboutText">
    <h2>BIOGRAPHY</h2>
  <p>
Pianist Asiya Korepanova is a creative force. For her, expression is not one discipline at the expense of others: all fields are expressions of facets of the same diamond. Her artwork, poetry, and music composition reveal aspects of how she relates to the world. However, it is at the piano that Asiya fully expresses what she feels, sees, and hears in the world.<br>
​
Asiya moved to the United States in 2012, at the invitation of renowned concert pianist Santiago Rodriguez.  Since, she has garnered national attention and has been presented by the Phillips Collection in Washington, DC, the Bargemusic Series in New York, the Dame Myra Hess Memorial Series and Pianoforte Foundation Series in Chicago and the Sarasota Artist Series, in addition to appearances in Baltimore, San Francisco, Los Angeles, Miami and Atlanta. Her recitals have been broadcasted nationally by NPR stations WFMT and WETA.  This past year, CNN featured Asiya in performances, including special programs she offers school children.<br>

This season, Asiya performs Beethoven's Choral Fantasy with conductor Giuseppe Lanzetta and the New England Symphonic Ensemble in Carnegie Hall in February 2017.  She will also be completing several recordings which feature the complete Rachmaninoff sonatas, including the first ever solo piano transcription of Rachmaninoff Cello sonata that she completed in 2014.  A special DVD of Asiya performing at the Tchaikovsky's birthplace upon an invitation from Russian government will also be released.  Other recordings to be completed include those of a live series of recitals in Baltimore where she performs the complete etudes (24) of Franz Liszt.<br>

In 2016, Asiya became artistic director of the Capriccio Festival in Calabria, Italy.  Last year, the festival featured artists from the continents of Europe, North America and Australia.   In addition to performances, she has just recently launched "Music for Minds", a non-profit organization featuring unique programming aimed to increase the public’s interest for classical music by integrating live performances with insights into what makes music special along with lessons each work can teach us.<br>

With a repertoire featuring more than 55 piano concertos, she has performed with conductors such as Hans Graf, Joseph Silverstein, Michael Butterman, Enrique Mazzola, Vladimir Spivakov, Mark Gorenstein, Stephen Gunzenhauser, Jeffrey Rink, Peter Tiboris and Ion Marin. Outside of the United States, her solo recitals and orchestra engagements include those in  England, France, Germany, Austria, Spain, Italy, Luxembourg, Greece, Czech Republic, Australia, Kuwait, and India.<br>

Asiya created  the world premiere transcription  of Richard Strauss’ “Ein Heldenleben”, for piano solo.  Among other Asiya's transcriptions are works by Faure, Berg and Tchaikovsky.  The daughter of a composer, Asiya has premiered 3 concertos by Russian composers Vladislav Kazenin and Shamil Timerbulatov, in performances with the Svetlanov Symphony Orchestra of Russia, Saint Petersburg Capella Symphony Orchestra, Ural Philharmonic Orchestra and Tatarstan National Symphony Orchestra. In United States, she commissioned a concerto and a series of transcendental etudes by American composer Matthew Evan Taylor. Other engagements included collaboration with trumpet virtuoso Craig Morris in a world premiere performance of “The Lightning Fields”, a new piece from the Grammy Award-winning composer Michael Daugherty, and European premiere of Thomas Sleeper’s Sonata for Piano and Alto saxophone “Seven Deadly Sins”, performed with the saxophone legend Dale Underwood.<br>

In Russia, Asiya developed and performed several multimedia projects with live performance with her own poetry and drawings set to Liszt’s Transcendental Etudes, Bach’s Well-Tempered Clavier and Tchaikovsky’s Eighteen Pieces, Op. 72.<br>

The Russian Federation’s President Award for “Exceptional Achievement in the Arts” was presented to Asiya when she was 12.  Since then, she has been honored with the National Award from the Republic of Udmurtia (2002), Germany’s Berliner Salon Award (2003), and Russia’s Triumph Award (2005). In 2009, she became an Honored Artist of Udmurtia, and a soloist with the Moscow Philharmonic Society. She is a Gold Medal winner at the Nina Wideman International Piano Competition in Shreveport, Louisiana (2012).</p>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/frontend.js"></script>
</body>
</html>
