<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Gallery | Food Love</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>
    <div id="overlay">
      <h1>Photo Gallery</h1>
    <img src="/images/banana-nice-n-slow.gif" alt="">
    <img src="/images/cake-drizzle.gif" alt="">
    <img src="/images/dirty-cookies.gif" alt="">
    <img src="/images/mmm-churros.gif" alt="">
    <img src="/images/sexy-pizza.gif" alt="" />
    <img src="/images/moist-cake.gif" alt="">
    <img src="/images/naughty-pancakes.gif" alt="">
    <img src="/images/twist-that-strawberry.gif" alt="">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    </div>
  </body>
</html>
